{% load static %}
<!DOCTYPE html>
<Html
lang="en">

<head>
    <title>{% block title %}Farming Site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'sizstyle.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header class="page-header">
        <h1>{% block header %} welcome to esy's Farming {% endblock %}</h1>
    </header>
     <div class="content">
     <h2>we have the best crops</h2>
     
     <div>{% block noneuser %}{% endblock %}</div>
     
     <div> 
        
             {% block content %}{% endblock %}
    </div>
    
    </div>
    <footer class="page-footer">
        <p>Copyright &copy; 2022</p>
    </footer>
</body>

</Html>
