<!DOCTYPE html>
<Html
lang="en">

<head>
    <title>{% block title %}Farming Site{% endblock %}</title>
    <style>
        body{
            background-color: rgb(255, 255, 255);
            background-image: url('https://stock.adobe.com/ke/images/smiling-farm-boy-standing-near-crops-boy-farmer-with-tools-smiling-boy-farmer-smiling-in-sunlight/926211049');
        }
    </style>
</head>
<body>
    <header></header>
    <h1>welcome to esy's Farming</h1>
     <h2>we have the best crops</h2>
     <div>{% block content %}{% endblock %}</div>
     <footer>
        <p>Copyright &copy; 2022</p>
    </footer>
</body>

</Html>