{%extends 'main/base.html'%}
{% load static %}

{%block title%} content page{%endblock%}
{%block content%} <p>this is where the contents will appear</p>
<h1>Crops and Prices</h1>
<main class="crop-container">
    {% for crop in crops %}
    <div class="crop-card"  onclick="window.location.href='{{ crop.id}}'">
        {% if crop.image %}
        <img src="{{ crop.image }}" alt="Image of {{ crop.name }}">
        {% else %}
        <img src="{% static 'img/empty.jpg' %}" alt="Image of {{ crop.name }}">    
        {% endif %}
        {% if user == crop.farm.name %}
        <form action="#" method="post">
            {%csrf_token%}
            <button type="submit", name="delete" value="{{crop.id}}">Delete</button>
        </form>
        {% endif %}
        <div class="crop-info">
            <h2>{{ crop.name }}</h2>
            <p class="price">Price: ${{ crop.price }}</p>
        </div>
    </div>
    {% endfor %}
</main>
    </div>
    {%endblock%}
    
