{%extends 'main.base'%}
{%block title%}home page {%endblock%}
{%block content%}
 <section>
     <h1>home page</h1>
     <p>we offer good quality services </p>

    <form action="">
        <button type="submit" name="login" value="login">login</button>
        <p>if not yet registed click on singup</p>
        <button type="submit" name="singup" value="singup">singup</button>
    </form>
 </section>
 <section>
    <h2>what we offer</h2>
    <ul>
        <li>
            fruits
        </li>
    </ul>
 </section>
{%endblock%}
