{%extends 'main/base.html'%}
{%block title%}home page {%endblock%}
{%block noneuser%}
 <section>
     <h1>home page</h1>
     <p>we offer good quality services </p>

    <form action="#" method="POST">
         {% csrf_token %}
        <button class="btn" type="submit" name="singup" value="singup">singup</button>
        <button class="btn" type="submit" name="login" value="login">login</button>
    </form>
 </section>
 <section>
    <h2>what we offer</h2>
    <ul>
        <li>
            fruits 
        </li>
        <li>
            vegetables
        </li>
        <li>
            grains
        </li>
    </ul>
 </section>
{%endblock%}
